html {
    font-size: 16px;
}

body {
    margin: auto;
    max-width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    letter-spacing: 0.5rem;
}

.header-other { 
    flex: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-another {
    flex-grow: 0.5;
    display:flex;
    justify-content: space-evenly;
    list-style: none; 
}

.header-another1 {
    border: 1px solid #dadce0;
    border-radius: 32px;
    white-space: nowrap; 
    padding: 0 12px;
}

.header-another2 {
    border: 1px solid #dadce0;
    border-radius: 32px;
    white-space: nowrap; 
    padding: 0 12px;
}

.header-another3 {
    border: 1px solid #dadce0;
    border-radius: 32px;
    white-space: nowrap; 
    padding: 0 12px;
}

.header-another4 {
    border-radius: 32px;
    white-space: nowrap;
    padding: 0 12px;
    border: 1px solid #dadce0
}

.proper-noun {
    font-style: italic;
    color: darkgrey;
    font-size: small;
}


main div h5 {
    color: darkgreen;
}

.bio {
    color: darkgray;
}

.def {
    text-indent: 5%;
    padding-top: 1em;
}