html {
    font-size: 16px;
}

body {
    margin: auto;
    max-width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    letter-spacing: 0.5rem;
}


.header-other { 
    flex: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-another {
    flex-grow: 0.5;
    display:flex;
    justify-content: space-around;
    list-style: none;
}